// Variables
@hover-background: #00C1DE;
@hover-fade-duration: 0.08s;
@icon-width: 20px;

@header-height: 50px;
@header-background-color: #373D41;
@header-color: white;

@footer-height: 50px;
@footer-background-color: #373D41;
@footer-color: white;

@sidebar-width: 200px;
@sidebar-background: #333744;
@sidebar-toggle-duration: 0.2s;

@menu-item-height: 35px;
@menu-item-background: #42485B;
@menu-item-color: white;
@menu-dropdown-duration: 0.5s;
@caret-rotate-duration: 0.12s;

@submenu-item-background: #333744;
@submenu-item-color: white;
@submenu-item-active-color: #00C1DE;

@content-padding: 10px;

@userbox-color: #42485B;
@messagebox-color: #42485B;

// Mixin
.hover {
  background-color: @hover-background;
  cursor: pointer;
  transition: background-color @hover-fade-duration ease;
}

.icon {
  width: @icon-width;
  text-align: center;
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  display: flex;
  height: @header-height;
  line-height: @header-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: @header-background-color;
  color: @header-color;

  .header-float-left {
    height: 100%;
    overflow: hidden;
    width: @sidebar-width;
    text-align: center;
    transition: width @sidebar-toggle-duration ease-out;
  }

  .sidebar-collapse-btn {
    height: 100%;
    line-height: @header-height;
    text-align: center;
    width: @header-height;
    &:hover {
      .hover
    }
  }

  .dropdown-btn-panel {
    height: 100%;
    flex: 1;
    text-align: right;

    .dropdown-component {
      display: inline-block;
      position: relative;
      height: 100%;

      .dropdown-btn {
        height: 100%;
        padding: 0 5px;
        &:hover {
          .hover
        }
        i {
          .icon
        }
      }

      .dropdown-panel {
        position: absolute;
        top: @header-height;
        right: 0;
        visibility: hidden;
        background-color: @header-background-color;
      }
    }
  }
}

.footer {
  height: @footer-height;
  line-height: @footer-height;
  background-color: @footer-background-color;
  color: @footer-color;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 10px;
  z-index: 9999;
}

.main {
  position: absolute;
  left: 0;
  top: @header-height;
  bottom: @footer-height;
  right: 0;
  z-index: 1000;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: @sidebar-width;
  z-index: 9999;
  background-color: @sidebar-background;
  transition: width @sidebar-toggle-duration ease-out;
  //overflow-x: hidden;
  overflow: visible;

  .menu-box {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    font-size: 14px;
    li {
      position: relative;
    }

    .menu-item {
      height: @menu-item-height;
      line-height: @menu-item-height;
      background-color: @menu-item-background;
      color: @menu-item-color;
      overflow: hidden;
      i {
        .icon
      }

      &:hover {
        .hover
      }

      &-expand {
        .fa-caret-right {
          vertical-align: text-top;
          transform: rotate(90deg);
        }
      }

      &-active {
        background-color: @hover-background;
      }

      .fa-caret-right {
        float: right;
        width: 20px;
        text-align: center;
        line-height: @menu-item-height;
        transition: transform @caret-rotate-duration;
      }
    }

    .submenu-box {
      padding: 0;
      margin: 0;
      list-style-type: none;
      transition: all @menu-dropdown-duration ease-out;
      overflow: hidden;
      .menu-item {
        background-color: @submenu-item-background;
        &:hover {
          .hover
        }
        &-active {
          background-color: @hover-background;
        }
      }
    }

    .hover-submenu {
      position: absolute;
      top: 0;
      left: 40px;
      width: @sidebar-width;
    }

    .hover-submenu-show {
      display: block;
    }

    .hover-submenu-hide {
      display: none;
    }
  }
}

.content {
  position: absolute;
  right: 0;
  top: 0;
  left: @sidebar-width;
  bottom: 0;
  overflow: auto;
  padding: @content-padding @content-padding 0 @content-padding;
  z-index: 1000;
  transition: left @sidebar-toggle-duration ease-out;
}


.generate-menu-item(6);
.generate-menu-item(@n, @i: 1) when (@i =< @n) {
  .menu-item-@{i} {
    padding-left: 10px * @i;
  }
  .generate-menu-item(@n, (@i + 1));
}

// User box
.user-box {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 14px;
  li {
    height: 40px;
    width: 200px;
    line-height: 40px;
    padding-left: 10px;
    list-style-type: none;
    background-color: @userbox-color;
    &:hover {
      .hover
    }
    i {
      .icon
    }
  }
}

// Message box
.message-box {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 14px;
  li {
    height: 40px;
    width: 200px;
    line-height: 40px;
    padding-left: 10px;
    list-style-type: none;
    background-color: @messagebox-color;
    &:hover {
      .hover
    }
    i {
      .icon
    }
  }
}