html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #9b9b9b;*/
}

.header {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: #030edf solid 1px;
}

.footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: #df1900 solid 1px;
}

.main {
  /*height: 100%;*/
  /*width: 100%;*/
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: #d400df solid 1px;
  /*overflow: auto;*/
  margin-top: 50px;
  margin-bottom: 50px;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  border: #005825 solid 1px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin-left: 200px;
  overflow: auto;
  z-index: 1000;
}

.header-float-left {
  /*display: inline-block;*/
  height: 100%;
  float: left;
}

.dropdown-component {
  position: relative;
  height: 100%;
  float: right;
}

.dropdown-btn {
  height: 100%;
}

.dropdown-panel {
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  height: 100px;
}

.menu-box {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu-box > li {
  position: relative;
}

.submenu-box-expand {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.submenu-box-collapse {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 200px;
  top: 0;
  width: 100%;
  list-style-type: none;
  z-index: 1010;
}

.menu-item {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}