@import "variables.less";

// Mixin
.hover {
  background-color: @hover-background;
  cursor: pointer;
  transition: background-color @hover-fade-duration ease;
}

.icon {
  width: @icon-width;
  text-align: center;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  display: flex;
  height: @header-height;
  line-height: @header-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: @header-zindex;
  background-color: @header-background-color;
  color: @header-color;

  .header-float-left {
    height: 100%;
    overflow: hidden;
    text-align: center;
    transition: width @sidebar-toggle-duration ease-out;
  }

  .header-float-left-expand {
    width: @sidebar-width;
  }
  .header-float-left-collapse {
    width: @sidebar-mini-width;
  }

  .sidebar-collapse-btn {
    height: 100%;
    text-align: center;
    width: @header-height;
    &:hover {
      .hover
    }
  }

  .dropdown-btn-panel {
    height: 100%;
    flex: 1;
    text-align: right;

    .dropdown-component {
      display: inline-block;
      position: relative;
      height: 100%;

      .dropdown-btn {
        height: 100%;
        padding: 0 5px;
        &:hover {
          .hover
        }
        i {
          .icon
        }
      }

      .dropdown-panel {
        position: absolute;
        top: @header-height;
        right: 0;
        visibility: hidden;
      }
    }
  }
}

.main {
  position: absolute;
  left: 0;
  top: @header-height;
  bottom: @footer-height;
  right: 0;
  z-index: @main-zindex;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: @sidebar-zindex;
  background-color: @sidebar-background;
  transition: width @sidebar-toggle-duration ease-out;

  .menu-box {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    font-size: @menu-font-size;
    li {
      position: relative;
    }

    // menu item style
    .menu-item {
      height: @menu-item-height;
      line-height: @menu-item-height;
      background-color: @menu-item-background;
      color: @menu-item-color;
      overflow: hidden;
      i {
        .icon
      }

      &:hover, & label:hover {
        .hover
      }

      &-expand {
        .fa-caret-right {
          vertical-align: text-top;
          transform: rotate(90deg);
        }
      }

      &-active {
        background-color: @menu-item-active-color;
      }

      .fa-caret-right {
        float: right;
        width: 20px;
        text-align: center;
        line-height: @menu-item-height;
        transition: transform @caret-rotate-duration;
      }
    }

    .generate-menu-item(6);
    .generate-menu-item(@n, @i: 1) when (@i =< @n) {
      .menu-item-@{i} {
        padding-left: 10px * @i;
      }
      .generate-menu-item(@n, (@i + 1));
    }

    // submenu box style
    .submenu-box {
      padding: 0;
      margin: 0;
      list-style-type: none;
      transition: all @menu-dropdown-duration ease-out;
      overflow: hidden;
      .menu-item {
        background-color: @submenu-item-background;
        &:hover {
          .hover
        }
        &-active {
          background-color: @hover-background;
        }
      }
    }
  }

  // menu box style in collapse mode
  .menu-box-collapse {
    .hover-submenu {
      position: absolute;
      top: 0;
      left: @sidebar-mini-width;
      width: @sidebar-width;
    }

    .hover-submenu-show {
      display: block;
    }

    .hover-submenu-hide {
      display: none;
    }

    .menu-item-1 {
      text-align: center;
      padding-left: 0px;
    }
  }
}

.sidebar-expand {
  width: @sidebar-width;
}

.sidebar-collapse {
  width: @sidebar-mini-width;
}

.content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  padding: @content-padding @content-padding 0 @content-padding;
  z-index: @content-zindex;
  transition: left @sidebar-toggle-duration ease-out;
}

.content-normal {
  left: @sidebar-width;
}

.content-expand {
  left: @sidebar-mini-width;
}

.footer {
  height: @footer-height;
  line-height: @footer-height;
  background-color: @footer-background-color;
  color: @footer-color;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 10px;
  z-index: 9999;
}

// User box
.user-box {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 14px;
  li {
    height: 40px;
    width: 200px;
    line-height: 40px;
    padding-left: 10px;
    list-style-type: none;
    background-color: @userbox-color;
    &:hover {
      .hover
    }
    i {
      .icon
    }
  }
}

// Message box
.message-box {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 14px;
  li {
    height: 40px;
    width: 200px;
    line-height: 40px;
    padding-left: 10px;
    list-style-type: none;
    background-color: @messagebox-color;
    &:hover {
      .hover
    }
    i {
      .icon
    }
  }
}